nav {
  font-family: "Karla", serif;
  /* background-color: rgba(245, 245, 245, 0.75)!important; */
  background: var(--background) !important;
}

/* .expanded {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
} */

nav :global(.navbar-brand) {
  font-family: "Kaushan Script", serif;
  font-size: 35px;
  color: var(--primary) !important;
}

.sidebar {
  background-color: rgba(255, 255, 255, 0.815);
  backdrop-filter: blur(10px);
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: gray !important;
  margin: 0 30px;
}

nav ul li a:hover {
  color: var(--primary) !important;
}

nav .active {
  color: var(--primary-darker) !important;
}

.btnContact {
  background-color: var(--primary);
  font-size: 18px;
  transition: all 3ms ease-in-out;
}

.btnContact:hover {
  background-color: var(--primary-darker);
}

/* .page-container{
      margin: 120px 80px;
    } */

/* mobile view */
@media (max-width: 991px) {
  nav ul li a {
    /* gap between nav items */
    margin: 5px;
  }
}
