:root {
  --primary: #d67c96;
  --primary-darker: #c8738b;
  --background: #f5f5f5;
  --font-default: "Karla", serif;
  --font-headings: "Kaushan Script", serif;
}
/* font-family: "Karla", serif; */

body {
  background-color: var(--background) !important;
}

.pgMarginTop {
  margin-top: 105px;
}

.clrHaver {
  color: #025ab3;
}

.clrEmmas {
  color: #23748c;
}

.clrContoso {
  color: #d36542;
}

.clrWeather {
  color: #f14da5;
}

/* .scale55 {
  scale: 55%;
} */
