:root {
  --primary: #d67c96;
  --primary-darker: #c8738b;
  --background: #f5f5f5;
  --font-default: "Karla", serif;
  --font-headings: "Kaushan Script", serif;
}
/* font-family: "Karla", serif; */

body {
  background-color: var(--background) !important;
}

.pgcontainer {
  margin-top: 85px;
}

/* .scale55 {
  scale: 55%;
} */
