.statement {
  margin: 10px 60px 80px;
  font-family: "Karla", sans-serif;
  font-size: 25px;
  word-break: break-word;
  border: 2px solid var(--primary);
  padding: 30px;
  border-radius: 25px;
  line-height: 1.8;
  text-align: center;
}

.statementTitle {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  color: var(--primary-darker);
  font-size: 30px;
  margin: 20px;
}

.pgHome {
  margin: 60px 120px !important;
}

.title {
  /* margin-left: 60px; */
  text-transform: uppercase !important;
  font-size: 27px;
  color: gray;
}

.skillsTitle {
  border-left: 3px solid var(--primary-darker);
  color: var(--primary-darker);
  margin: 20px 0;
  padding-left: 10px;
  font-size: 20px;
}

.skillTag {
  border: 1px solid var(--primary-darker);
  border-radius: 20px;
  padding: 10px 30px;
  margin: 5px;
  font-size: 22px;
}

.skillsCol {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  /* justify-content: center; */
}
