.pgProjects {
  font-family: var(--font-default);
  margin-top: 70px;
  padding: 0px 20px;
}

.gridContainer {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
}

.projImage{
  padding: 0px!important;
}

 /* Large screens: 3 columns */
 @media (min-width: 992px) {
  .gridContainer {
      grid-template-columns: repeat(3, 1fr);
  }
  .projImage{
    padding: 20px 20px 0 20px!important;
  }
}

/* Medium screens: 2 columns */
@media (min-width: 768px) and (max-width: 991px) {
  .gridContainer {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* Small screens: 1 column */
@media (max-width: 767px) {
  .gridContainer {
      grid-template-columns: 1fr;
  }
}

.projTitle {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.projDescription {
  text-align: center;
  font-size: 19px;
  padding: 0 30px;
  margin-bottom: 30px;
}

.projImage {
  padding: 40px 75px 25px 75px;
}

.projButton {
  font-size: 40px;
  margin-left: 10px;
}

.skillTag {
  border: 1px solid gray;
  padding: 8px 13px;
  border-radius: 25px;
  margin: 0 10px 8px 0;
  font-size: 12px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  /* justify-content: center; */
}

/* .skillTag {
  margin-right: 10px;
} */

.skillIcon {
  height: 38px !important;
  scale: 90%;
  /* opacity: 0.7; */
}

.link {
  text-decoration: none;
}

.link:hover {
  border: 1px solid transparent;
}



/* CUSTOM */

.scale70 {
  scale: 70%;
}

/* DETAILS PAGE */

.detailsContainer {
  margin-top: 135px;
}

.overview {
  font-size: 18px;
}

.overview ul li {
  margin: 30px 10px;
  /* color: #1c507e; */
}

.detailsTitle {
  font-size: 30px;
  /* color: #1c507e !important; */
  margin-left: 20px;
  font-weight: 400 !important;
}

.detailsSkill {
  padding: 5px 20px;
  border: 1px solid gray;
  border-radius: 30px;
  margin-left: 20px;
  font-size: 18px;
  text-transform: none;
  font-weight: normal;
  color: rgb(71, 71, 71);
}


