.pgProjects {
  font-family: var(--font-default);
}

.projTitle {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.projDescription {
  text-align: center;
  font-size: 19px;
  padding: 0 30px;
  margin-bottom: 30px;
}

.projImage {
  padding: 40px 75px 25px 75px;
}

.projButton {
  font-size: 40px;
  margin-left: 10px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skillTag {
  margin-right: 10px;
}

.skillIcon {
  height: 45px !important;
  scale: 90%;
  /* opacity: 0.7; */
}

.link {
  text-decoration: none;
}

.link:hover {
  border: 1px solid transparent;
}

/* CUSTOM */

.scale70 {
  scale: 70%;
}

/* DETAILS PAGE */

.detailsContainer {
  margin-top: 135px;
}

.overview {
  font-size: 18px;
}

.overview ul li {
  margin: 30px 10px;
  /* color: #1c507e; */
}

.detailsTitle {
  font-size: 30px;
  /* color: #1c507e !important; */
  margin-left: 20px;
  font-weight: 400 !important;
}

.detailsSkill {
  padding: 5px 20px;
  border: 1px solid gray;
  border-radius: 30px;
  margin-left: 20px;
  font-size: 18px;
  text-transform: none;
  font-weight: normal;
  color: rgb(71, 71, 71);
}


