.projTitle {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.projDescription {
  text-align: center;
  font-size: 19px;
  padding: 0 30px;
  margin-bottom: 30px;
}

.projImage {
  padding: 40px 75px 25px 75px;
}

.pgProjects {
  font-family: var(--font-default);
}

.skills {
  /* text-align: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background: rgb(244, 236, 236);
  border-radius: 0 0px 6px 6px;
  margin: 0; */
}

.skillTag {
  /* border: 1px solid gray; */
  /* border-radius: 30px; */
  /* padding: 10px 15px; */
  margin-right: 10px;
  /* font-size: 12px; */
}

.clrHaver {
  color: #025ab3;
}

.clrEmmas {
  color: #23748c;
}

.clrContoso {
  color: #d36542;
}

.clrWeather {
  color: #f14da5;
}

.projButton {
  font-size: 40px;
  margin-left: 10px;
}

.skillIcon {
    height: 45px !important;
    scale: 90%;
    /* opacity: 0.7; */
}

.scale70 {
  scale: 70%;
}
