.skillsContainer {
  margin: 60px 120px !important;
}

/* .test{
  background: transparent!important;
  height: 80px!important;
  border-radius: 50%!important;
} */

.title {
  /* margin-left: 60px; */
  text-transform: uppercase !important;
  font-size: 27px;
  font-weight: lighter;
  color: gray;
}

.skillsTitle {
  border-right: 1px solid var(--primary-darker);
  color: var(--primary-darker);
  margin: 20px 0;
  padding-right: 13px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: end!important;
}

.skillTag {
  border: 1px solid gray;
  border-radius: 30px;
  padding: 0 20px 0 10px;
  margin: 5px;
  font-size: 19px;
}

.skillsCol {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  /* border-bottom: 1px solid lightgray; */
  /* justify-content: center; */
}

.icon {
  background: transparent !important;
  height: 45px !important;
  scale: 70%;
}
