.skillGridWrapper {
  display: block;
  margin: 80px auto;
}

.skillRowsGrid {
  display: grid;
  grid-template-columns: 32% auto;
  grid-template-rows: auto;
  margin-bottom: 10px;
}

.skillIconsGrid {
  display: grid;
  grid-template-columns: repeat(6, fit-content(100px));
}

.skillsContainer {
  margin: 60px auto !important;
}

.title {
  text-transform: uppercase !important;
  font-size: 27px;
  font-weight: lighter;
  color: gray;
}

.skillsTitle {
  border-right: 1px solid var(--primary);
  color: var(--primary);
  margin: 20px;
  padding-right: 13px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: end !important;
}

.skillTag {
  padding: 0 8px;
  margin: 0 5px;
  font-size: 13px;
  color: rgb(87, 87, 87);
  text-align: center;
}

.skillTag p {
  margin-top: -5px;
}

.skillsCol {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.icon {
  background: transparent !important;
  height: 85px !important;
  scale: 70%;
}

.scaleSmaller {
  scale: 48%;
}

.clrLanguages {
  color: #0f78c5 !important;
  border-color: #0f78c5 !important;
}
