.skillsContainer {
  margin: 60px 50px !important;
}

/* .test{
  background: transparent!important;
  height: 80px!important;
  border-radius: 50%!important;
} */

.title {
  /* margin-left: 60px; */
  text-transform: uppercase !important;
  font-size: 27px;
  font-weight: lighter;
  color: gray;
}

.skillsTitle {
  border-right: 1px solid var(--primary);
  color: var(--primary);
  margin: 20px 0;
  padding-right: 13px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: end !important;
}

.skillTag {
  /* border-right: 2px solid lightgray; */
  /* border-bottom: 2px solid lightgray; */
  /* border-radius: 10px; */
  /* padding: 5px 10px; */
  padding: 0 8px;
  margin: 0 5px;
  font-size: 13px;
  color: rgb(87, 87, 87);
  text-align: center;
}

.skillsCol {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  /* border-bottom: 1px solid lightgray; */
  /* justify-content: center; */
}

.icon {
  background: transparent !important;
  height: 75px !important;
  scale: 55%;
  /* position: relative; */
  /* bottom: 1px; */
}

.scale55 {
  scale: 45%;
}

.clrLanguages {
  color: #0f78c5 !important;
  border-color: #0f78c5 !important;
}
